
  <%= render 'shared/header_top'%>

    <main class="main-layout" style="padding-top:3rem">
      <div class = "left-screen">
        <div class="user-icon">
          <%= link_to(user_path(@user.id)) do %>
            <p class="trim-image-to-circle">
            <% if @user.avatar.attached? %>
              <%= image_tag (current_user.avatar), class:"profile-img" %>
            <% else %>
              <img src="/assets/profile_icon.png" class="profile-img">
            <% end %>
            </p>
          <% end %>
          <p>NAME: <%= @user.name %></p>
          <p>SECTION: <%= @user.section %></p>
          今月の達成状況

        </div>

      </div>

      <div class = "right-screen">
        <div class="entry-team">
          <!-- 所属チーム -->
          <div class="container py-4" id="works">
            <div>参加中のチーム</div>

 
             <div class="card-deck">
                <% @teams.each do |team| %>
                <div>
                  <%= link_to(team_path(team.id),class:"card link_team") do %>
                      <%= image_tag team.image, class:"bd-placeholder-img card-img-top" %>
                      <div class="card-body ">
                        <h5 class="card-title"><%=team.team_name%></h5>
                        <p class="card-text"><%=team.team_explanation%></p>
                      </div>
                  <% end %>
                </div>
                <% end %>
              </div>

          </div>

      </div>
    </main>
