<%= render 'shared/header'%>

<%# 1user %>
    <main class="boad-layout" style="padding-top:4rem">
        <div class="member">
          <div class="schedule mb-2">
            <div class="user-icon">
              <img src="/assets/profile_icon.png" class="profile-img">
              <%= card_group[:member].name %>
            </div>

            <div class="boad new-card">
              新規
              <ul class="cp_list">
                  <% card_group[:unseted].each do |card| %>
                    <li>
                      <%= card[:title] %>
                      <div class="progress mb-2">
                        <div class="progress-bar progress-bar-striped bg-info progress-mini" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div> 
                      </div>
                    </li>
                  <% end %>
                </ul>
            </div>

            <div class="boad over-limit">
              期限切れ
              <ul class="cp_list">
                  <% card_group[:expired].each do |card| %>
                    <li>
                      <%= card[:title] %>
                      <div class="progress mb-2">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>                   
                      </div>
                    </li>
                  <% end %>
                </ul>
            </div>
            
            <% card_group[:schedules].each do |day,i| %>
              <div class="boad">

                <div class='date'>
                  <%= day[:month]%>/<%= day[:date] %><%= day[:wday] %>
                </div>

                <ul class="cp_list">
                  <% day[:cards].each do |card| %>
                    <li>
                      <%= card[:title] %>
                      <div class="progress mb-2">
                      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    
                    </div>
                    </li>

                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
    </main>
