<%= render 'shared/header_user'%>

<%# 1user %>
    <main class="boad-layout" style="padding-top:4rem">
    
        <div class="member">
          <div class="schedule mb-2">
            <div class="boad-show new-card">
              新規
              <ul class="cp_list">
                  <% @user_cards[0][:unseted].each do |card| %>
                    <li id="card<%=card.id%>">
                      <%= link_to card[:title], edit_card_path(card), class:"text-dark" %>
                      <div class="progress mb-2">
                          <%if (card.tasks.pluck(:finish).count(true).to_f/card.tasks.pluck(:finish).length.to_i).nan? %>
                            <% progress = 0  %>
                          <%else%>             
                            <% progress = (card.tasks.pluck(:finish).count(true).to_f/card.tasks.pluck(:finish).length.to_i*100).floor %>
                          <% end %>
                          <div class="progress-bar" id= "bar<%=card.id%>" role="progressbar" style="width: <%= progress%>%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"><%= progress%>%</div>                   
                       </div>
                      <% card.tasks.each do |task| %>
                          <label><input type="checkbox", class="check", id=<%=card.id%> value =<%= task.id %> <%= "checked='checked'" if task.finish == true %>><%= task.matter %></label><br>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
            </div>

            <div class="boad-show over-limit">
              期限切れ
              <ul class="cp_list">
                  <% @user_cards[0][:expired].each do |card| %>
                    <li id="card<%=card.id%>">
                      <%= link_to card[:title], edit_card_path(card), class:"text-dark" %>
                      <div class="progress mb-2">
                          <%if (card.tasks.pluck(:finish).count(true).to_f/card.tasks.pluck(:finish).length.to_i).nan? %>
                            <% progress = 0  %>
                          <%else%>             
                            <% progress = (card.tasks.pluck(:finish).count(true).to_f/card.tasks.pluck(:finish).length.to_i*100).floor %>
                          <% end %> 
                          <div class="progress-bar" id= "bar<%=card.id%>" role="progressbar" style="width: <%= progress%>%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"><%= progress%>%</div>                   
                       </div>
                      <% card.tasks.each do |task| %>
                          <label><input type="checkbox", class="check", id=<%=card.id%> value =<%= task.id %> <%= "checked='checked'" if task.finish == true %>><%= task.matter %></label><br>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
            </div>
            
            <% @user_cards[0][:schedules].each do |day,i| %>
              <div class="boad-show">

                <div class='date'>
                  <%= day[:month]%>/<%= day[:date] %><%= day[:wday] %>
                </div>
                <ul class="cp_list">
                  <% day[:cards].each do |card| %>
                    <li id="card<%=card.id%>">
                      <%= link_to card[:title], edit_card_path(card), class:"text-dark"%>
                      <div class="progress mb-2">
                        <%if (card.tasks.pluck(:finish).count(true).to_f/card.tasks.pluck(:finish).length.to_i).nan? %>
                          <% progress = 0  %>
                        <%else%>             
                          <% progress = (card.tasks.pluck(:finish).count(true).to_f/card.tasks.pluck(:finish).length.to_i*100).floor %>
                        <% end %>
                        <div class="progress-bar" id= "bar<%=card.id%>" role="progressbar" style="width: <%= progress%>%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"><%= progress%>%</div>                   
                      </div>
                      <div id="items">
                        <% card.tasks.each do |task| %>
                            <label><input type="checkbox", class="check", id=<%=card.id%> value =<%= task.id %> <%= "checked='checked'" if task.finish == true %>><%= task.matter %></label><br>
                        <% end %>
                      </div>
                      
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
    </main>
